Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.1
argparse==1.2.1
geopy==0.96.2
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.5.0
itsdangerous==0.24
newrelic==2.44.0.36
nominatim==0.1
psycopg2==2.5.1
python-omgeo==1.6.0
simplejson==3.6.5
suds==0.4
wsgiref==0.1.2
flask-cors==1.10.3
